
src/medialog..simpleslider.egg-info/*


src/medialog..simpleslider.egg-info
*.pyc

src/medialog.simpleslider.egg-info/SOURCES.txt

src/medialog.simpleslider.egg-info/top_level.txt

src/medialog.simpleslider.egg-info/not-zip-safe

src/medialog.simpleslider.egg-info/entry_points.txt

src/medialog.simpleslider.egg-info/namespace_packages.txt

src/medialog.simpleslider.egg-info/PKG-INFO

src/medialog.simpleslider.egg-info/dependency_links.txt

src/medialog.simpleslider.egg-info/requires.txt

*.gz
